<!DOCTYPE html>
<html lang="zh-CN" ng-app="superOss">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>OSS测试版</title>
    <!-- Bootstrap core CSS -->



    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.js"></script>
    <script src="/js/vue-router.js"></script>

    <script type="text/javascript" src="/js/jquery-1.12.1.min.js"></script>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css" type="text/css"/>

    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css" type="text/css"/>
    <!-- Custom styles for this template -->

    <link href="/stylesheets/navbar-static-top.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/stylesheets/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->


    <!-- Morris Charts CSS -->
    <link href="/stylesheets/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <script src="/js/select2.min.js"></script>
    <link href="/stylesheets/select2.min.css" rel="stylesheet" type="text/css">


</head>
<body>
    <%-body -%>
    <script src="/js/vue-resource.js"></script>
    <script src="/js/vue-validator.js"></script>
</body>

</html>